/*****************************/
/* Semantic Dashboard custom */
/*****************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");
/* Functions */
/* Variables */
/* Theming */
body, h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif !important;
  color: white;
}
body a, h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: "Montserrat", sans-serif !important;
}

.dashboard-page {
  background: -webkit-gradient(linear, left top, right bottom, from(#60ab9d), to(#2f2784));
  background: linear-gradient(to right bottom, #60ab9d, #2f2784);
  /* full background */
}

.ui.inverted.menu {
  background: rgba(168, 188, 220, 0.2);
  /* top header */
  overflow: hidden;
}

.dashboard-title {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ui.inverted.menu .active.item {
  background-color: #ed7752;
}

#uisidebar, .ui.dashboard-sidebar {
  background: url("../images/sport-bg.png");
  /* Sidebar menu */
  -webkit-transition: background 0.6s linear !important;
  transition: background 0.6s linear !important;
}

.ui.segment {
  background: rgba(255, 255, 255, 0);
}

.tab-content .grid {
  padding: 20px;
}

.ui.sidebar.left {
  border: none;
}

.ui-container {
  padding: 10px;
}

.add-container {
  display: none;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.add-container .add-fields {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.add-container .add-fields .shiny-input-container {
  min-width: 187px;
  width: 187px;
}
.add-container .add-fields .shiny-input-container label {
  display: block;
  margin: 0 0 4.5px 0;
}
.add-container .add-fields .form {
  margin-right: 5px;
}
.add-container .add-button {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.add-container #run_add-addNewRunDate_button {
  display: none;
}

.show_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.run-container, .run-overview-container {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.run-container .date_container, .run-overview-container .date_container {
  width: 100%;
  border-radius: 5px;
  background: #69a0a7;
  padding: 20px;
}
.run-container .date_container label, .run-overview-container .date_container label {
  font: 300 1.6rem sans-serif !important;
  text-transform: uppercase !important;
  color: white;
}
.run-container .date_container input, .run-overview-container .date_container input {
  margin-top: 5px;
}
.run-container .date_container i, .run-overview-container .date_container i {
  display: none;
}
.run-container .stats-container, .run-overview-container .stats-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
.run-container .stats-container > div, .run-overview-container .stats-container > div {
  width: 23%;
}
.run-container .stats-container .five, .run-overview-container .stats-container .five {
  width: 25% !important;
  height: 80px !important;
}
.run-container .form-group, .run-overview-container .form-group {
  margin-bottom: 15px;
}
.run-container .range_chart, .run-overview-container .range_chart {
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
}

.custom_card {
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 35px;
  padding: 40px 20px 20px 20px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.custom_card h3 {
  color: #0a0a0a;
  font-size: 1.8rem;
  margin: 0 !important;
}
.custom_card p {
  color: #0a0a0a;
  margin: 0 !important;
}
.custom_card .icon_card {
  width: 70px;
  height: 70px;
  padding: 10px;
  position: absolute;
  top: -28px;
  left: 5px;
  border-radius: 50%;
}
.custom_card .icon_blue {
  background: -webkit-gradient(linear, left top, right top, from(#4973e6), to(#0bdff0));
  background: linear-gradient(to right, #4973e6, #0bdff0);
}
.custom_card .icon_green {
  background: -webkit-gradient(linear, left top, right top, from(#00d541), to(#2eeb90));
  background: linear-gradient(to right, #00d541, #2eeb90);
}
.custom_card .icon_orange {
  background: -webkit-gradient(linear, left top, right top, from(#f3595a), to(#ff9754));
  background: linear-gradient(to right, #f3595a, #ff9754);
}
.custom_card .icon_purple {
  background: -webkit-gradient(linear, left top, right top, from(#8651e8), to(#d856e8));
  background: linear-gradient(to right, #8651e8, #d856e8);
}

.button-cta-fill, .ui.button {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: none;
  border-radius: 5px;
  vertical-align: baseline;
  background-color: #15a556;
  color: #fff;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  -webkit-transition: 0.2s all !important;
  transition: 0.2s all !important;
}
.button-cta-fill:hover, .ui.button:hover {
  background-color: #ed7752;
}
.button-cta-fill:active, .ui.button:active, .button-cta-fill:focus, .ui.button:focus {
  background-color: #ed7752;
}

.ui.label {
  background-color: #ed7752;
}

.ui.form .field > label {
  color: white;
  font-weight: 300;
}

.ui.segment {
  margin: 0;
}

.ui.raised.raised.segment, .ui.raised.raised.segments {
  height: 100%;
}

.ui.card, .ui.cards > .card {
  display: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0.2em 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ui.card i, .ui.cards > .card i {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.5);
}
.ui.card.purple, .ui.cards > .card.purple {
  background: -webkit-gradient(linear, left top, right top, from(#8651e8), to(#d856e8));
  background: linear-gradient(to right, #8651e8, #d856e8);
}
.ui.card.purple i, .ui.cards > .card.purple i {
  color: #460780d1;
}
.ui.card.orange, .ui.cards > .card.orange {
  background: -webkit-gradient(linear, left top, right top, from(#f3595a), to(#ff9754));
  background: linear-gradient(to right, #f3595a, #ff9754);
}
.ui.card.orange i, .ui.cards > .card.orange i {
  color: #b626269f;
}
.ui.card.green, .ui.cards > .card.green {
  background: -webkit-gradient(linear, left top, right top, from(#00d541), to(#2eeb90));
  background: linear-gradient(to right, #00d541, #2eeb90);
}
.ui.card.green i, .ui.cards > .card.green i {
  color: #069446eb;
}
.ui.card.blue, .ui.cards > .card.blue {
  background: -webkit-gradient(linear, left top, right top, from(#4973e6), to(#0bdff0));
  background: linear-gradient(to right, #4973e6, #0bdff0);
}
.ui.card.blue i, .ui.cards > .card.blue i {
  color: #003086c2;
}
.ui.card.yellow, .ui.cards > .card.yellow {
  background: -webkit-gradient(linear, left top, right top, from(#f8aa21), to(#f99429));
  background: linear-gradient(to right, #f8aa21, #f99429);
}
.ui.card.yellow i, .ui.cards > .card.yellow i {
  color: #df6508b3;
}

.ui.card:first-child:hover {
  margin-left: 10px;
  cursor: pointer;
}

.ui.statistic > .value, .ui.statistics .statistic > .value {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 15%;
  text-align: right;
}

.ui.statistic > .label, .ui.statistics .statistic > .label {
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  padding-right: 15%;
}

/* CSS */
.running_logo {
  width: 100%;
  background-color: rgba(255, 255, 255, 0) !important;
}
.running_logo a {
  width: 100%;
}

.ui[class*="top attached"].menu {
  margin-top: 0;
}

.ui.top.menu.dashboard-header .logo {
  height: 60px;
}

.user-container {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.user-container .button {
  margin-top: 5px;
}
.user-container h3 {
  margin: 2px 0;
  font: 300 1.4rem sans-serif;
}
.user-container h3:last-of-type {
  margin-bottom: 10px;
}
.user-container h3 span {
  color: #ed7752;
  font-weight: 600;
}

.modal .ui.form .field > label {
  color: #7f7f7f;
}

.button_generate_doc {
  background-color: #3eb3a9;
  color: white;
  margin-right: 10px;
  padding: 1rem;
  border-radius: 5px;
}