/*****************************/ 
/* Semantic Dashboard custom */
/*****************************/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

/* Functions */
@function color($color-name) {
    @return map-get($colors, $color-name)
};

/* Variables */
$colors: (
    primary: rgba(0,0,0,0.5),
    /* primary-light: lighten(#0d1524, 12%),*/
    primary-light : linear-gradient(to right bottom, #60ab9d, #b33e9a, #8d3495, #632d8e, #2f2784),
    primary-dark: darken(#d74c9c, 12%),
    background : linear-gradient(to right bottom, #60ab9d, #2f2784),
    highlighted : #ed7752,
    highlighted-text : #0d1524,
    button-confirm : #15a556,
    theme-purple : linear-gradient(to right, #8651e8,#d856e8),
    theme-purple-icon : #460780d1,
    theme-orange : linear-gradient(to right, #f3595a,#ff9754),
    theme-orange-icon : #b626269f,
    theme-green : linear-gradient(to right, #00d541, #2eeb90),
    theme-green-icon : #069446eb,
    theme-blue : linear-gradient(to right, #4973e6, #0bdff0),
    theme-blue-icon : #003086c2,
    theme-yellow : linear-gradient(to right, #f8aa21, #f99429),
    theme-yellow-icon : #df6508b3,
);
 
$sansserif: 'Montserrat', sans-serif;
$extralight: 200;
$light : 300;
$regular : 400;
$semibold : 600;
$bold : 700;

/* Theming */
body, h1, h2, h3, h4, h5 {
    font-family: $sansserif !important;
    color:white;
    a {
        font-family: $sansserif !important; 
    }    
}

.dashboard-page {
    background: color(background); /* full background */
}
.ui.inverted.menu {
    background:rgba(168,188,220,0.2); /* top header */
    overflow:hidden;
}
.dashboard-title {
    background-color:rgba(0,0,0,0) !important /* Logo background reset */
}
.ui.inverted.menu .active.item {
    background-color: color(highlighted);
}
#uisidebar, .ui.dashboard-sidebar {
    background: url('../images/sport-bg.png');  /* Sidebar menu */
    transition: background 0.6s linear !important;
}
.ui.segment {
    background:rgba(255,255,255,0) /* tab-content */
}
.tab-content .grid {
    padding:20px; 
}
.ui.sidebar.left {
    border:none;
}
.ui-container {
    padding:10px;
}
.add-container  {
    display:none; // not displayed by default, we have to click #run_add-btn_display_add_run to show it 
    padding:30px;
    background-color:rgba(0, 0, 0, 0.21);
    border-radius:10px;
    box-shadow: 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);
    flex-wrap: wrap;
    justify-content: flex-start;
    .add-fields {
        width:90%;
        display:flex;
        flex-wrap : wrap;
        .shiny-input-container {
            min-width:187px;
            width:187px;
            label {
                display:block;
                margin: 0 0 4.5px 0;
            }
        }
        .form {
            margin-right:5px;
        }
    }
    .add-button {
        width:10%;
        display:flex;
        align-items: flex-end;
    }
    #run_add-addNewRunDate_button {
        display:none;
    }
}

.show_flex {
    display:flex // Created for the toggleClass in jQuery
}

.run-container, .run-overview-container {
    padding:30px;
    background-color:rgba(0, 0, 0, 0.21);
    border-radius:10px;
    box-shadow: 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);
    .date_container {
        width:100%;
        border-radius:5px;
        background: #69a0a7;
        padding:20px;
        label {
            font: $light 1.6rem sans-serif !important;
            text-transform:uppercase !important;
            color:white;
        }
        input {
            margin-top:5px;
        }
        i {
            display:none;
        }
    }
    .stats-container{
        display:flex !important;
        justify-content:space-between;
        flex-wrap:wrap;
        margin-bottom:25px;
        > div {
            width:23%;
        }
        .five {
            width: 25% !important;
            height:80px !important;
        }
    }
    .form-group {
        margin-bottom:15px;
    }
    
}
.custom_card {
    background-color:white;
    border-radius:5px;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:flex-end;
    margin-top:35px;
    padding:20px; 
    box-shadow:0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);  

    h3 {
        color:rgb(10, 10, 10);
        font-size:1.8rem;
        margin:0 !important;
    }
    p {
        color:rgb(10, 10, 10);
        margin:0 !important;
    }
    .icon_card {
        width:70px;
        height:70px;
        padding:10px;
        position:absolute;
        top:-28px;
        left:5px;
        border-radius:50%;
    }
    .icon_blue {
        background:color(theme-blue);
    }
    .icon_green {
        background:color(theme-green);
    }
    .icon_orange {
        background:color(theme-orange);
    }
    .icon_purple {
        background:color(theme-purple);
    }
}
.button-cta-fill {
    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: none;
    border-radius: 5px;
    vertical-align: baseline;
    background-color: color(button-confirm);
    color: #fff;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    transition: 0.2s all !important;
    &:hover {
        background-color: color(highlighted);
    }
    &:active, &:focus {
        background-color:color(highlighted);
    }
}
.ui.button {
    @extend .button-cta-fill;
}
.ui.label {
    background-color:color(highlighted);
    color:color(highlight-text);
}
.ui.form .field>label {
    color:white;
    font-weight: $light;
}
.ui.segment {
    margin:0;
}
.ui.raised.raised.segment, .ui.raised.raised.segments {
    height:100%;
}
.ui.card, .ui.cards>.card {
    display:relative;
    background-color: color(primary);
    border:none;
    box-shadow: none !important;
    padding:0.2em 0;
    overflow:hidden;
    transition:all 0.2s ease-in-out;
    i {
        position:absolute;
        left:20px;
        top:20px;
        font-size:1.6em;
        color:color(primary);
    }
    &.purple {
        background:color(theme-purple);
        i {
            color:color(theme-purple-icon);
        }
    }
    &.orange {
        background:color(theme-orange);
        i {
            color:color(theme-orange-icon);
        }
    }
    &.green {
        background:color(theme-green);
        i {
            color:color(theme-green-icon);
        }
    }
    &.blue {
        background:color(theme-blue);
        i {
            color:color(theme-blue-icon);
        }
    }
    &.yellow {
        background:color(theme-yellow);
        i {
            color:color(theme-yellow-icon);
        }
    }
}
.ui.card:first-child:hover { //animation to show that the jquery function exists to show the corresponding spiderchart-tab
    margin-left:10px;
    cursor:pointer;
}
.ui.statistic>.value, .ui.statistics .statistic>.value {
    color:color(primary);
    padding-right:15%;
    text-align:right;
}
.ui.statistic>.label, .ui.statistics .statistic>.label {
    color:color(primary);
    text-align:right;
    padding-right:15%;
}

/* CSS */
.running_logo {
    width:100%;
    background-color:rgba(255,255,255,0) !important;
    a {
        width:100%;
    }
}
.ui[class*="top attached"].menu {
    margin-top:0;
}
.ui.top.menu.dashboard-header .logo {
    height:60px;
}

.user-container {
    padding:30px;
    background-color:rgba(0, 0, 0, 0.21);
    box-shadow: 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);
    .button {
        margin-top:5px;
    }
    h3 {
        margin: 2px 0;
        font: $light 1.4rem sans-serif;
        &:last-of-type {
            margin-bottom:10px;;
        }
        span {
            color: color(highlighted);
            font-weight: $semibold;
        }
    }
}

.modal .ui.form .field {
    > label {
        color:#7f7f7f ;
    }
}

.button_generate_doc {
    background-color: #3eb3a9;
    color:white;
    margin-right:10px;
    padding:1rem;
    border-radius:5px;
}